* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  /*border: 1px rgba(255, 0, 0, 0.432) solid;*/
}
:root {
  --light-gray: #f1f1f1;
}
header {
  width: 100vw;
}
.loyalty-info {
  font-size: 1em;
  text-align: center;
  padding: 0.57em;
  background-color: var(--light-gray);
}
h6 {
  font-weight: 550;
}
a {
  color: inherit;
  text-decoration: none;
}
.mid-header {
  display: flex;
  height: 5em;
  padding-left: 0 2em 0 2em;
  flex-wrap: nowrap;
  flex-direction: row;
}
.left-desp {
  background-color: #ffffff;
  flex-basis: 25%;
  align-items: baseline;
  display: flex;
  flex-direction: row;
}
.left-desp > div {
  display: flex;
  height: 100%;
  align-items: baseline;
  text-transform: uppercase;
}
.left-desp > div > a {
  margin: 0 auto;
  padding: 1em 2em 1em 2em;
  /*border: rgba(255, 255, 0, 0.411) 3px solid;*/
}
.left-desp > div:hover {
  background-color: var(--light-gray);
}
.mid-header-logo {
  flex-basis: 50%;
  display: flex;
}
.mid-header-logo > img {
  width: 5em;
  height: 100%;
  margin: auto;
  padding-right: 39px;
}
.right-desp {
  background-color: #ffffff;
  flex-basis: 25%;
  align-items: center;
  display: flex;
  flex-direction: row;
}
.right-desp > div {
  display: flex;
  height: 100%;
  text-decoration: none;
  text-transform: capitalize;
  /*border: 1px rgba(0, 0, 255, 0.288) solid;*/
}
.right-desp > div > a {
  margin: 0 auto;
  padding: 1em 1em 1em 1em;
}
.right-desp > div:hover {
  background-color: var(--light-gray);
}
.sub-header {
  height: 3.5em;
  background-color: var(--light-gray);
}
.sub-header > h3{
  text-align: center;
  font-weight: normal;
  font-size: 19;
  padding-top: 1em;
}
.burger{
  display: none;
}
@media screen and (max-width: 1110px ) {
  .left-desp{
    display: none;
  }
  .right-desp{
    display: none;
  }
  .burger{
    display: row;
  }

}