/* General Stylings ----------------------------------------------------------*/
*
{
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

:root
{
  --light-gray: #f1f1f1;
  --dark-gray: #747474;
  --text2: #6b6b6b;
}

a
{
  color: inherit;
  text-decoration: none;
}

/* Header Stylings -----------------------------------------------------------*/
header
{
  width: 100vw;
}

.loyalty-info
{
  font-size: 1em;
  text-align: center;
  padding: 0.57em;
  background-color: var(--light-gray);
}

.loyalty-info > h6 
{
  font-weight: 550;
}

.mid-header
{
  width: 100vw;
  height: 4.4em;
  display: flex;
  flex-direction: row;
}

.left-desp
{
  width:33vw;
  margin-left: 2vw; 
  justify-content: flex-start;
  display: flex;
  flex-direction: row;
}

.left-desp > div
{
  display: flex;
}

.left-desp > div > a 
{
  align-content: center;
  text-transform: uppercase;
  padding: 0 1.5em 0 1.5em;
  font-size: 0.92rem;
}

.left-desp > div:hover
{
  background-color: var(--light-gray);
}

.mid-header-logo
{
  width:30vw;
  justify-content: center;
  display: flex;
}

.mid-header-logo > img
{
  width: 4.4em;
  height: 4.4em;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.right-desp
{
  width: 33vw;
  margin-right: 2vw;
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
}

.right-desp > div
{
  display: flex;
  color: var(--text2);
}

.right-desp > div > a
{
  font-weight: normal;
  align-content: center;
  text-transform: capitalize;
  padding: 0 1em 0 1em;
  height: 100%;
  font-size: 0.9rem;
}

.right-desp > div:hover
{
  background-color: var(--light-gray);
}

.search-bar
{
  display: none;
}

.sub-header
{
  top:0;
  position: sticky;
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: var(--light-gray);
}

.sub-header > h3
{
  font-size: 1.5em;
  text-align: center;
  font-weight: normal;
}

.gallery
{
  width:100vw;
  margin: 0em auto 0em auto;
  display:grid;
  gap: 2em;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 300px);
  grid-template-rows: repeat(3,minmax(310px,600px));
} 

.gal-ele
{
  display: flex;
  flex-direction: column;
}

.product-features
{
  display: flex;
  justify-content: flex-end;
  color: red;
  position: relative;
  text-align: right;
  top: 30px;
  right: 0px;
  left: 100px;
  background-color: white;
  width: 4em;
}

.gal-ele-a
{
  height: auto;
}

.gal-ele-a > img
{
  height:auto;
  max-width:100%;
  z-index: -1;
}

.product-info
{
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: repeat(4, 2em);
  grid-template-areas:
  "pname btn"
  "ptype btn"
  "pcolor btn"
  "pprice btn";
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 0.9em;
}
.product-name
{
  grid-area: pname;
  color: var(--text2);
}
.product-type
{
  grid-area: ptype;
}
.product-color
{
  grid-area: pcolor;
}
.product-price
{
  grid-area: pprice;
}
.add-cart-btn
{
  grid-area: btn;
  margin: auto 0 auto auto;
  display: flex;
  background-color: black;
  border-radius: 8px;
  color: white;
  height: 30%;
  width: 90%;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 1.1em;
  font-weight: bold;
}
.add-cart-btn:hover{
  background-color: var(--dark-gray);
}
.mid-header > .burger{
  display: none;
}
.mid-header > .bag-icon
{
  display: none;
}
.shop-now
{
  height: 300px;
  width: 100vw;
  overflow-y: hidden;
  overflow-x: hidden;
  background-image: url("assets/footer-bg.jpg");
  background-position: center;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.shop-now > h5 
{
  text-transform: uppercase;
  color: white;
}
.shop-now > h4
{
  text-transform: uppercase;
  font-size: 2rem;
  color: white;
}
.shop-now > button 
{
  border: none;
  padding: 1em 2em;
}
footer
{
  background-color: var(--light-gray);
}
.main-footer
{
  height: 250px;
  margin-left: 10vw;
  margin-right: 10vw;
  font-size: 0.9em;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: "loyalty followus customservice legal mailing"
}
.main-footer > div
{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: center;
}
.main-footer > div > h5 
{
  padding: 2em;
  text-transform: uppercase;
  color: var(--text2);
  font-weight: 400;
}
.loyalty
{
  grid-area: loyalty;
}
.followus
{
  grid-area: followus;
}
.customservice
{
  grid-area: customservice;
}
.legal
{
  grid-area: legal;
}
.mailing
{
  grid-area: mailing;
  justify-content: center;
}
.email-mailing-in
{
  border: none;
  height: 1.5rem;
  padding: 1em;
}
.paymets-div
{
  display: flex;
  width: 100vw;
  flex-direction: row;
}
.payments-div > img
{
  width: 40px;
  height: 22px;
  justify-content: flex-start;
  align-items: left;
  align-content: left;
}
.payment-title
{
  padding: 10em;
}
.copyright
{
  color: var(--text2);
  justify-content: flex-end;
}
@media screen and (max-width: 1415px)
{
  /*gallery start to shrink */
  .gallery
  {
    margin: 2em auto;
    grid-template-columns: repeat(4, 20%);
    justify-content: center;
    align-content: center;
  }
  .main-footer
  {
    margin-left: 5vw;
    margin-right: 5vw;
    font-size: 0.8em;
  }
}
@media screen and (max-width: 1200px)
{
  /*mid-header realign*/
  .right-desp > div > a {
    padding: 0 1em 0 1em;
    font-size: 0.9rem;
  }
  .left-desp > div > a {
    padding: 0 0.8em 0 0.8em;
    font-size: 0.92rem; 
  }

}
@media screen and (max-width: 1024px)
{
  /*hide mid-header show only burger and bag icons*/
  .mid-header > .burger{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 32vw;
    margin-left: 3vw;
  }
  .mid-header > .bag-icon{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    width: 32vw;
    margin-right: 3vw;
  }
  .mid-header > .mid-header-logo > img
  {
    width: 3em;
    height: 3em;
  }
  .left-desp{
    display: none;
  }
  .right-desp{
    display: none;
  }
  .search-bar
  {
    display: flex;
    align-items: end;
    justify-content: flex-start;
    height: 3em;
    border-bottom: black 1px solid;
  }
  .search-bar > input
  {
    padding: 1em;
    border: white 1px solid;
    width: 100vw;
    outline: none;
  }
  .sub-header
  {
    height: 4.5em;
  }

  /*search bar now is wide with placeholder "What are you looking for"*/
  /*Gallery has now only 3 photos per row and no margin top*/
  .gallery
  {
    margin: 0 2px;
    justify-content: center;
    align-content: center;
    align-items: center;
    grid-template-columns: repeat(3, minmax(216px, 284px));
    grid-template-rows: repeat(4, 533px);
  }
  /* main footer has change layout */
  .main-footer
  {
    font-size: 1em;
    height: 500px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px 300px;
    grid-template-areas: 
    "loyalty nope mailing"
    "followus customservice legal";
    gap: 20px;
  }
.loyalty
{
  width: 150%;
  justify-self: start;
  background-color: white;
  > p {padding: 0 4em;}
}
.mailing
{
  width: 150%;
  justify-self: end;
  background-color: white;
  > span {padding: 0 4em;}
  > form > .email-mailing-in {background-color: var(--light-gray); width: 100%}
}
}
@media screen and (max-width: 767px)
{
  /*Gallery has now only 2 photos per row and margin top*/
  /*Is the last shrink, mobile version is this one */
  .gallery
  {
    grid-template-columns: repeat(2, minmax(216px, 284px));
    grid-template-rows: repeat(6, 533px);
  }
}
@media screen and (max-width: 375px)
{
  .gallery
  {
    grid-template-columns: repeat(2, minmax(1fr, 160px));
    grid-template-rows: repeat(6, 533px);
  }
}
